body {
    background-image: url("https://wallpaper-house.com/data/out/12/wallpaper2you_512512.jpg")
}

#tagline {
    color: whitesmoke;
    font-weight: lighter;
}

#productName {
    color: whitesmoke;
    font-weight: bolder;
}

#italic {
    font-style: italic;
}

.jumbotron {
    background: transparent;
}

.card-header {
    color: whitesmoke;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVD8jWvvI95Jf5G_0K0k23G5LlHG4En6X96MfNGxoAXMXqGOlm&usqp=CAU");
    border-radius: 25px;
}

.employee-card {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVD8jWvvI95Jf5G_0K0k23G5LlHG4En6X96MfNGxoAXMXqGOlm&usqp=CAU");
    margin: 40px;
    /* border-radius: 25px; */
}

.list-group-item {
    background-color: rgba(245, 245, 245, 0.719);
}
